NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
NEXT_PUBLIC_SANITY_PROJECT_TITLE=My Sanity Project

# Only needed for draft previews / write access
SANITY_API_READ_TOKEN=
